## **3 кейс**

**Пользовательские сессии**

**Важно**

Перед началом решения выполните следующую ячейку, чтобы загрузить необходимый для работы файл.

In [ ]:
!wget https://gist.github.com/Vs8th/9fcfa729905072c12b1e535c71565a68/raw/sessions.csv

Чтобы посмотреть как он выглядит выполните следующую ячейку.

In [ ]:
import pandas as pd

df = pd.read_csv('sessions.csv')
df

      user_id                                            session
0       user0  ["2023-05-06 20:43:45", 1192, [["page0", "2023...
1       user1  ["2023-05-03 15:39:47", 1642, [["page0", "2023...
2       user1  ["2023-05-16 21:24:30", 506, [["page0", "2023-...
3       user1  ["2023-05-09 01:41:35", 1004, [["page0", "2023...
4       user1  ["2023-05-26 05:31:50", 984, [["page0", "2023-...
...       ...                                                ...
5278  user998  ["2023-05-26 17:33:49", 631, [["page0", "2023-...
5279  user998  ["2023-05-15 23:21:39", 1393, [["page0", "2023...
5280  user998  ["2023-05-16 10:15:48", 1448, [["page0", "2023...
5281  user998  ["2023-05-26 17:06:25", 810, [["page0", "2023-...
5282  user999  ["2023-05-20 08:08:50", 744, [["page0", "2023-...

[5283 rows x 2 columns]

### **Решения**

#### **Задача 1**

Ваша задача написать функцию `get_time_to_conversion`, которая принимает на вход сессии в формате, который вы определили для себя и подсчитывает среднее время между заходом на сайт и целевым действием.

Результат - число типа `float`, округленное до двух знаков после запятой, сохраните в переменную `res`

**Решение**

Напишите свое решение ниже

In [ ]:

def get_time_to_conversion(...):

    ...

res = get_time_to_conversion(...)

✏️ ✏️ ✏️

**Проверка**

Чтобы проверить свое решение, запустите код в следующих ячейках

In [ ]:
try:
    assert res == 467.24
except AssertionError:
    print('Ответы не совпадают')
else:
    print('Поздравляем, Вы справились!')

Поздравляем, Вы справились!

#### **Задача 2**

Ваша задача написать функцию `get_session_duration`, которая принимает на вход сессии в формате, который вы определили для себя и подсчитывает сколько вообще в среднем длится сессия.

Результат - число типа `float`, округленное до двух знаков после запятой, сохраните в переменную `res2`

**Решение**

Напишите свое решение ниже

In [ ]:

def get_session_duration(...):

    ...

res2 = get_session_duration(...)

✏️ ✏️ ✏️

**Проверка**

Чтобы проверить свое решение, запустите код в следующих ячейках

In [ ]:
try:
    assert res2 == 901.35
except AssertionError:
    print('Ответы не совпадают')
else:
    print('Поздравляем, Вы справились!')

#### **Задача 3**

Напишите функцию `get_daily_session_count`, которая принимает на вход сессии в формате, который вы определили для себя и подсчитывает cколько разных заходов в течение дня делает пользователь.

Результат - число типа `float`, округленное до двух знаков после запятой, сохраните в переменную `res3`

**Решение**

Напишите свое решение ниже

In [ ]:

def get_daily_session_count(...):

    ...

res3 = get_daily_session_count(...)

✏️ ✏️ ✏️

**Проверка**

Чтобы проверить свое решение, запустите код в следующих ячейках

In [ ]:
try:
    assert res3 == 1.11
except AssertionError:
    print('Ответы не совпадают')
else:
    print('Поздравляем, Вы справились!')

#### **Задача 4**

Напишите функцию `get_average_session_count`, которая принимает на вход сессии в формате, который вы определили для себя и подсчитывает сколько заходов вообще в среднем делает пользователь.

Результат - число типа `float`, округленное до двух знаков после запятой, сохраните в переменную `res4`

**Решение**

Напишите свое решение ниже

In [ ]:

def get_average_session_count(...):

    ...

res4 = get_average_session_count(...)

✏️ ✏️ ✏️

**Проверка**

Чтобы проверить свое решение, запустите код в следующих ячейках

In [ ]:
try:
    assert res4 == 5.28
except AssertionError:
    print('Ответы не совпадают')
else:
    print('Поздравляем, Вы справились!')