## **3 кейс**

**Пользовательские сессии**

**Важно**

Перед началом решения выполните следующую ячейку, чтобы загрузить необходимый для работы файл.

In [ ]:
!wget https://gist.github.com/Vs8th/9fcfa729905072c12b1e535c71565a68/raw/sessions.csv

Чтобы посмотреть как он выглядит выполните следующую ячейку.

In [ ]:
import pandas as pd

df = pd.read_csv('sessions.csv')
df

      user_id                                            session
0       user0  ["2023-05-06 20:43:45", 1192, [["page0", "2023...
1       user1  ["2023-05-03 15:39:47", 1642, [["page0", "2023...
2       user1  ["2023-05-16 21:24:30", 506, [["page0", "2023-...
3       user1  ["2023-05-09 01:41:35", 1004, [["page0", "2023...
4       user1  ["2023-05-26 05:31:50", 984, [["page0", "2023-...
...       ...                                                ...
5278  user998  ["2023-05-26 17:33:49", 631, [["page0", "2023-...
5279  user998  ["2023-05-15 23:21:39", 1393, [["page0", "2023...
5280  user998  ["2023-05-16 10:15:48", 1448, [["page0", "2023...
5281  user998  ["2023-05-26 17:06:25", 810, [["page0", "2023-...
5282  user999  ["2023-05-20 08:08:50", 744, [["page0", "2023-...

[5283 rows x 2 columns]

### **Решения**

#### **Задача 1**

Ваша задача написать функцию `get_time_to_conversion`, которая принимает на вход сессии в формате, который вы определили для себя и подсчитывает среднее время между заходом на сайт и целевым действием.

Результат - число типа `float`, округленное до двух знаков после запятой, сохраните в переменную `res`

**Решение**

Напишите свое решение ниже

In [54]:
from datetime import datetime

def get_time_to_conversion(file):
    with open(file, 'r') as f:
        data = f.readlines()
    data = data[1:]
    users = []
    for d in data:
        a = d.find('"[""')
        conv = d.find('conversion')
        # Для начала попробуем так: возьмём только сессии, где есть конверсия
        if conv != -1 :
            # [Имя_пользователя, Дата_захода, Дата_целевого_действия, Разница_в_секундах]
            user_name = d[:a-1]
            start_session = datetime.strptime(d[a+4:a+23],'%Y-%m-%d %H:%M:%S')
            end_session = datetime.strptime(d[conv+16:conv+35],'%Y-%m-%d %H:%M:%S')
            users.append([user_name, start_session, end_session, (end_session - start_session).total_seconds()])
    conversion = [u[3] for u in users]
    return round(sum(conversion) / len(conversion), 2)
res = get_time_to_conversion("sessions.csv")
res

467.24

✏️ ✏️ ✏️

**Проверка**

Чтобы проверить свое решение, запустите код в следующих ячейках

In [55]:
try:
    assert res == 467.24
except AssertionError:
    print('Ответы не совпадают')
else:
    print('Поздравляем, Вы справились!')

Поздравляем, Вы справились!

#### **Задача 2**

Ваша задача написать функцию `get_session_duration`, которая принимает на вход сессии в формате, который вы определили для себя и подсчитывает сколько вообще в среднем длится сессия.

Результат - число типа `float`, округленное до двух знаков после запятой, сохраните в переменную `res2`

**Решение**

Напишите свое решение ниже

In [69]:
from datetime import datetime

def get_session_duration(file):

    with open(file, 'r') as f:
        data = f.readlines()
    data = data[1:]
    users = []
    for d in data:
        a = d.find('"[""')
        user_name = d[:a-1]
        s1 = d.find('"", ')
        s2 = d.find(', [[""')
        ses = int(d[s1+4:s2])
        users.append(ses)
    
    return round(sum(users) / len(users), 2)

res2 = get_session_duration('sessions.csv')
res2

901.35

✏️ ✏️ ✏️

**Проверка**

Чтобы проверить свое решение, запустите код в следующих ячейках

In [70]:
try:
    assert res2 == 901.35
except AssertionError:
    print('Ответы не совпадают')
else:
    print('Поздравляем, Вы справились!')

Поздравляем, Вы справились!

#### **Задача 3**

Напишите функцию `get_daily_session_count`, которая принимает на вход сессии в формате, который вы определили для себя и подсчитывает cколько разных заходов в течение дня делает пользователь.

Результат - число типа `float`, округленное до двух знаков после запятой, сохраните в переменную `res3`

**Решение**

Напишите свое решение ниже

In [88]:
from datetime import datetime

def get_daily_session_count(file):
    with open(file, 'r') as f:
        data = f.readlines()
    data = data[1:]
    users = {}
    for d in data:
        a = d.find('"[""')
        user_name = d[:a-1]
        start_session = d[a+4:a+14]
        key = (user_name, start_session)
        if key not in users:
            users[key] = 1
        else:
            users[key] += 1
    summ = 0
    for k, v in users.items():
        summ += v
    return round(summ / len(users), 2)

res3 = get_daily_session_count('sessions.csv')
res3

1.11

✏️ ✏️ ✏️

**Проверка**

Чтобы проверить свое решение, запустите код в следующих ячейках

In [89]:
try:
    assert res3 == 1.11
except AssertionError:
    print('Ответы не совпадают')
else:
    print('Поздравляем, Вы справились!')

Поздравляем, Вы справились!

#### **Задача 4**

Напишите функцию `get_average_session_count`, которая принимает на вход сессии в формате, который вы определили для себя и подсчитывает сколько заходов вообще в среднем делает пользователь.

Результат - число типа `float`, округленное до двух знаков после запятой, сохраните в переменную `res4`

**Решение**

Напишите свое решение ниже

In [91]:
from datetime import datetime

def get_average_session_count(file):
    with open(file, 'r') as f:
        data = f.readlines()
    data = data[1:]
    users = {}
    for d in data:
        a = d.find('"[""')
        user_name = d[:a-1]
        start_session = d[a+4:a+14]
        key = user_name
        if key not in users:
            users[key] = 1
        else:
            users[key] += 1
    summ = 0
    for k, v in users.items():
        summ += v
    return round(summ / len(users), 2)

res4 = get_average_session_count('sessions.csv')
res4

5.28

✏️ ✏️ ✏️

**Проверка**

Чтобы проверить свое решение, запустите код в следующих ячейках

In [92]:
try:
    assert res4 == 5.28
except AssertionError:
    print('Ответы не совпадают')
else:
    print('Поздравляем, Вы справились!')

Поздравляем, Вы справились!